<h2 class="mat-h2" mat-dialog-title>About</h2>
<mat-dialog-content>
  <mat-divider></mat-divider>
  <div class="container">
    <h3 class="mat-h3">Purpose</h3>
    <p class="mat-body">There's a few sites out there already that provide extensive information on the COVID-19 virus.
      However, none are catered to the end user. COVID-19 Local attempts to provide a personalized experience so that
      users
      can get the information that matters most to them.
    </p>
    <br>
    <p class="mat-body">If you are interested in more extensive data you can check out the following sites:</p>
    <ul class="mat-body">
      <li>
        <a class="link" href="https://coronavirus.jhu.edu/map.html">Johns Hopkins University COVID-19 Dashboard</a>
      </li>
      <li>
        <a class="link" href="https://ncov2019.live/">ncov2019.live</a>
      </li>
      <li>
        <a class="link" href="https://covidtracking.com/">The Covid Tracking Project</a>
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>
  <div class="container">
    <h3 class="mat-h3">Sources</h3>
    <ul class="mat-body">
      <li>
        <a class="link" href="https://corona.lmao.ninja/">https://corona.lmao.ninja/docs/</a>
        was used to retrieve the data.
      </li>
      <li>
        <a class="link" href="https://fontawesome.com/">Font awesome</a> was used for iconography.
      </li>
      <li>
        <a class="link" href="https://flagpedia.net/">https://flagpedia.net/</a> for flag
        images.
      </li>
      <li>
        Globe Image by <a class="link"
          href="https://pixabay.com/users/UnboxScience-1306029/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=908894">Unbox
          Science</a> from <a class="link"
          href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=908894">Pixabay</a>
      </li>
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
