<!--The content below is only a placeholder and can be replaced.-->
<app-toolbar></app-toolbar>
<div *ngIf="!error.message || (error.message && error.modal)">
  <div class="spinner" *ngIf="wait">
    <div style="flex: 3"></div>
    <div style="flex: 1"></div>
    <div style="flex: 1; align-self: center;">
      <mat-spinner></mat-spinner>
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 3"></div>
  </div>
  <app-desktop-dashboard *ngIf="!wait">
    <app-header-card *ngIf="!wait" [flagSrc]="flagUrl" [data]="data"></app-header-card>
    <!-- <app-quick-statistics-info-card *ngIf="!wait" [data]="data"></app-quick-statistics-info-card> -->
    <app-pie-chart-info-card *ngIf="!wait" [data]="data" [context]="caseContext"></app-pie-chart-info-card>
    <app-pie-chart-info-card *ngIf="!wait" [data]="data" [context]="deathContext"></app-pie-chart-info-card>
    <app-linear-graph-info-card *ngIf="!wait" [locale]="locale" [data]="data" [duration]="duration"
      [context]="caseContext">
    </app-linear-graph-info-card>
    <app-linear-graph-info-card *ngIf="!wait" [locale]="locale" [data]="data" [duration]="duration"
      [context]="deathContext">
    </app-linear-graph-info-card>
    <app-linear-graph-info-card *ngIf="!wait" [locale]="locale" [data]="data" [duration]="duration"
      [context]="recoveredContext">
    </app-linear-graph-info-card>
    <div class="info-card">
      <div class="graph-body"></div>
    </div>
  </app-desktop-dashboard>
</div>
<div *ngIf="error.message && !error.modal">
  <app-error [error]="error"></app-error>
</div>
<app-desktop-footer *ngIf="!wait">

</app-desktop-footer>
<router-outlet></router-outlet>
